@{
    ViewData["Title"] = "Terms of Usage";
}
<h1>@ViewData["Title"]</h1>

<h1>Terms of usage:</h1>
<p>All of the following terms are agreed upon when cloning repository by both parties: the creator and its contributors, and you - the user/outside developer</p>

<p>Galactic Titans, nor its creators or contributors are responsible for any damage that your computers, system or devices may accumulate</p>

<p>Galactic Titans, nor its creators or contributors are responsible for any damage that your mental state may incur from playing or using this game</p>

<p>Galactic Titans source is available for free, at no cost, nor any permission or other stipulations for you to use in developing your own asp.net core based browser game</p>

<p>Galactic Titans source is available for free, at no cost, nor any permission or other stipulations for you to use in teaching or studying on your own how an MVC+ type project could work, including various features used within</p>

<p>You can comment on the source repository and offer verbal suggestions, but you cannot create code-based suggestions or contributions. The source repository remains under the sole control of its original creator and/or contributors. If you feel the need to make a change, fork the repo and modify the project for your purposes locally to you.</p>

<p>Galactic Titans does not store your data in any way, quite frankly it doesnt need it.</p>
