<p>
    pixel planet generator: <a href="https://deep-fold.itch.io/pixel-planet-generator">https://deep-fold.itch.io/pixel-planet-generator</a><br />
    ambience taken from: <a href="https://jdsherbert.itch.io/ambiences-music-pack">https://jdsherbert.itch.io/ambiences-music-pack</a>
</p>